<footer class="footer">

    <div class="holder">

        <ul class="socials-list">
            <li>
                <a href="#" target="_blank">
                    <img src="../images/facebook.svg" alt="Icon">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/northbound-executive-search/" target="_blank">
                    <img src="../images/linkedin.svg" alt="Icon">
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img src="../images/twitter.svg" alt="Icon">
                </a>
            </li>
            <li>
                <a href="https://www.google.com/search?ei=MBPCXNyoJdLt5gKcoKqAAw&q=google+reviews+northbound+executive+search&oq=google+reviews+northbound+executive+search&gs_l=psy-ab.3..0i71l2.0.0..8456...0.0..0.0.0.......0......gws-wiz.vrNSFmpXuBM#lrd=0x89c258ffb709494d:0x852ded25e8ac9ce1,1,,," target="_blank">
                    <img src="../images/google.svg" alt="Icon">
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img src="../images/twitter.svg" alt="Icon">
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.google.com/search?ei=MBPCXNyoJdLt5gKcoKqAAw&q=google+reviews+northbound+executive+search&oq=google+reviews+northbound+executive+search&gs_l=psy-ab.3..0i71l2.0.0..8456...0.0..0.0.0.......0......gws-wiz.vrNSFmpXuBM#lrd=0x89c258ffb709494d:0x852ded25e8ac9ce1,1,,,">
                    <img src="../images/google.svg" alt="Icon">
                </a>
            </li>
            <li>
                <a target="_blank" href="#">
                    <img src="../images/twitter.svg" alt="Icon">
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.google.com/search?ei=MBPCXNyoJdLt5gKcoKqAAw&q=google+reviews+northbound+executive+search&oq=google+reviews+northbound+executive+search&gs_l=psy-ab.3..0i71l2.0.0..8456...0.0..0.0.0.......0......gws-wiz.vrNSFmpXuBM#lrd=0x89c258ffb709494d:0x852ded25e8ac9ce1,1,,,">
                    <img src="../images/google.svg" alt="Icon">
                </a>
            </li>
        </ul>

        <div class="links">
            <a href="#" class="button white medium">Contact Us</a>
            <a href="#" class="button white medium">Join Our Team</a>
        </div>

        <div class="contacts">
            <address>
                <a href="https://goo.gl/maps/ZpFhn7NToGLQ9UPR8" target="_blank">25 West 45th St, 7th floor New York, NY 10036</a>
            </address>
            <a href="tel:2126002540">212-600-2540</a>
            <a href="mailto:info@northboundsearch.com">info@northboundsearch.com</a>
        </div>
    </div>

    <div class="copy">
        <span>2019 NorthBound Executive Search, LTD. All rights reserved.</span>
        <a href="privacy.html">Privacy Policy</a>
        <a href="terms.html">Terms and Conditions</a>
    </div>
</footer>
