<header class="header">
    <strong class="main-logo">
        <a href="index.html">
            <img src="../images/main-logo.svg" alt="">
        </a>
    </strong>
    <nav class="main-navigation">
        <ul>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="services.html">Services</a>
                <button></button>
                <div class="dropdown">
                    <ul>
                        <li>
                            <a href="service-details.html">Accounting & Finance</a>
                        </li>
                        <li>
                            <a href="service-details.html">Financial Operations</a>
                        </li>
                        <li>
                            <a href="service-details.html">Office Support</a>
                        </li>
                        <li>
                            <a href="service-details.html">Consulting/Temporary</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="employers.html">Employers</a>
            </li>
            <li>
                <a href="job-seekers.html">Job Seekers</a>
                <button></button>

                <div class="dropdown">
                    <ul>
                        <li>
                            <a href="service-details.html">Accounting & Finance</a>
                        </li>
                        <li>
                            <a href="service-details.html">Financial Operations</a>
                        </li>
                        <li>
                            <a href="service-details.html">Office Support</a>
                        </li>
                        <li>
                            <a href="service-details.html">Consulting/Temporary</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
    <button class="burger-btn">
        <span></span>
    </button>
</header>